@font-face {
    font-family: ahronbd;
    src: url(../css/aharoni-bold-font/ahronbd.ttf)
}
html{
    height: 100%;
    /* background-color: rgb(252, 252, 204); */
    
    
}
body{
    background-image: url("../imgs/fundo-historia.jpg");
    margin: 0%;
    background-repeat: no-repeat;
    background-position-y: 400px;
    background-color: #e4d9bb;
}
.logo{
    text-align:center;
}
.menu{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.menu ul li{
    font-size: xx-large;
    font-family: ahronbd;
}
.intro{
    text-align: center;
    color: white;
    text-shadow: 0.1em 0.1em #000000;
    font-family: ahronbd;
    font-size: 28px;
}
.opcoes a{
    text-decoration: none;
    color:white
}
.opcoes a:hover{
    text-decoration: underline;
}
.videos iframe{
    border: 5px solid black;
}
